<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>GPS Weather</ion-title>
    <ion-chip slot="end">
      <ion-avatar>
        <img src="https://openweathermap.org/img/wn/13d@2x.png">
      </ion-avatar>
      <ion-label>{{userName}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<!--the exact same setup as the worldwide search only now only a single button is required-->
<ion-content>
  <ion-item>
    <ion-button expand="block" (click)="onEnterGPS()">Find your current location's weather via GPS</ion-button>
  </ion-item>

  <ion-item *ngFor="let weather of weatherDataCoord">
    <img height="100" width="100" src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png">
    <h3>{{weather.main}}, {{weather.description}}</h3>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-item>
    <img slot="end" height="50px" src="https://openweathermap.org/themes/openweathermap/assets/img/openweather-negative-logo-RGB.png">
  </ion-item>
</ion-footer>