<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Weather Forecast</ion-title>
    <ion-chip slot="end">
      <ion-avatar>
        <img src="https://openweathermap.org/img/wn/02d@2x.png">
      </ion-avatar>
      <ion-label>{{userName}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h3>Please enter a city</h3>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="entry"></ion-input>
    <ion-button size="default" slot="end" (click)="onEnter()">Enter</ion-button>
  </ion-item>
  
  <!--this is a scrapped idea for a page that would display the forecast for the next 5 days
  problem was that the JSON data was far more awkward to deal with and I couldn't access the objects' variables within the arrays-->
  <ion-list >
    <ion-item *ngFor="let forecast of forecastData">
      {{forecast.dt}}
    </ion-item>
  </ion-list>

<ion-footer>
  <ion-item>
    <img slot="end" height="50px" src="https://openweathermap.org/themes/openweathermap/assets/img/openweather-negative-logo-RGB.png">
  </ion-item>
</ion-footer>