<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Weather Application Home Menu</ion-title>
    <ion-chip slot="end">
      <ion-avatar *ngFor="let weather of weatherData">
        <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png">
      </ion-avatar>
      <ion-label >{{userName}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Please enter a username</ion-label>
    <ion-input [(ngModel)]="entry"></ion-input>
    <ion-button size="large" slot="end" (click)="onEnter()">Save</ion-button>
  </ion-item>

  <ion-list>
    <ion-item [routerLink]="['/weather']">link</ion-item>
  </ion-list>
</ion-content>
<div id="openweathermap-widget-11"></div>