<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><h1>Weather Application Home Menu</h1></ion-title>
    <ion-chip slot="end">
      <ion-avatar *ngFor="let weather of weatherData">
        <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png">
      </ion-avatar>
      <ion-label >{{userName}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Please enter a username</ion-label>
    <ion-input [(ngModel)]="entry"></ion-input>
    <ion-button size="default" slot="end" (click)="onEnter()">Save</ion-button>
  </ion-item>
  <ion-list>
    <ion-item [routerLink]="['/weather']"><h2>Search for the current weather worldwide</h2></ion-item>
    <ion-item [routerLink]="['/geolocation']"><h2>Get your current weather via GPS</h2></ion-item>
    <ion-item [routerLink]="['/maps']"><h2>View weather maps</h2></ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    <img slot="end" height="50px" src="https://openweathermap.org/themes/openweathermap/assets/img/openweather-negative-logo-RGB.png">
  </ion-item>
</ion-footer>